<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

<Appenders>
<File name="FILE" fileName="logfile.log" append="true">
<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%c{1}] (%F:%L) - %m%n"/>
</File>
<Console name="STDOUT" target="SYSTEM_OUT">
<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%c{1}] - %m%n"/>
</Console>
</Appenders>

<Loggers>
<Logger name="TM-Client" level="trace"/>
<Logger name="TM-Server" level="trace"/>
<Logger name="TM-Render" level="trace"/>
<Logger name="TM-Network-Client" level="error"/>
<Logger name="TM-Network-Server" level="error"/>
<Logger name="io.netty.handler.logging.LoggingHandler" level="warn" />

<Root level="info">
<AppenderRef ref="STDOUT"/>
<AppenderRef ref="FILE"/>
</Root>
</Loggers>

</Configuration>