<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true">
    <Properties>
        <Property name="filename">target/test.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>
    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="TMMessageFormatter"/>
        </Appender>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="TMMessageFormatter"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
